---
import type { Frontmatter } from '../../config';
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import TableOfContents from '../RightSidebar/TableOfContents';
import Pager from './Pager.astro';
import type { MarkdownHeading } from 'astro';

type NavLink = { text: string; link: string } | null;
type Props = {
	frontmatter: Frontmatter;
	headings: MarkdownHeading[];
	githubEditUrl: string;
	prevPage?: NavLink;
	nextPage?: NavLink;
};

const { frontmatter, headings, githubEditUrl, prevPage = null, nextPage = null } =
	Astro.props as Props;
const title = frontmatter.title;
---

<article id="article" class="content">
	<section class="main-section">
		<h1 class="content-title" id="overview">{title}</h1>
		<nav class="block sm:hidden">
			<TableOfContents client:media="(max-width: 50em)" headings={headings} />
		</nav>
		<slot />
		<Pager prev={prevPage} next={nextPage} />
	</section>
	<nav class="block sm:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
</article>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content > section {
		margin-bottom: 4rem;
	}

	.block {
		display: block;
	}

	@media (min-width: 50em) {
		.sm\:hidden {
			display: none;
		}
	}
</style>
